<header class="app-bar middle-xs">
  <div class="row">
    <div class="col-xs-2">
    <i class="fa fa-bars fa-2x barIcon" aria-hidden="true" (click)="_toggleSidebar()"></i>
  </div>
  <div class= "col-xs-10 title barIcon">TaskSide</div>
  </div>
  <ng2-sidebar [(open)]= "_open" [closeOnClickOutside]="true"
  [sidebarClass]= "'sidebarCustom'">
    <div class= "titleDiv">
            <span><a class="glyphicon glyphicon-remove" style="float:Right;" closeSidebar></a>
            <p class="sidebar-brand">TaskSide</p></span>
    </div>
    <div class="sideBarBody">
       <ul class="sidebar-nav">
               
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Feedback</a>
                </li>
                <li>
                    <a href="http://vinaygosain.cu.cc">Contact Us</a>
                </li>
                <li>
                <button type="button" class="btn btn-default">Logout</button>
                </li>
            </ul> 
    </div>
    </ng2-sidebar>
</header>
